
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Contenedor */

.contenedor {
	width: 100%;
	min-height: 100vh;
	background-color: #080808;
}

/* Barra de Navegacion */

.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: #0a0b0c;
}
.logo-cesar {
	color: white;
	margin: 0 40px;
	font-size: 20px;
	font-weight: 700;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.menu-navbar{
	display: flex;
	list-style: none;
	margin-right: 40px;
}
.items-navbar{
	list-style: none;
	margin: 0 20px;
	align-items: center;
	font-size: 20px;
	font-weight: 500;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.items-navbar img {
	width: 24px;
}
.items-navbar a {
	text-decoration: none;
	color:  white;
}
/* Contenedor sub navbar */

.contenedor_sub-navbar {
	width: 100%;
	height: 400px;
	background: #0a0b0c;
	text-align: center;
}
.contenedor_sub-navbar > .borde-image {
	margin: auto;
	overflow: hidden;
	width: 250px;
	height: 250px;
	border:  2px solid #000000;
	border-radius: 50%;
	margin-bottom: 15px;
}
.contenedor_sub-navbar img {
	width: 100%;
	height: 100%;
}
.contenedor_sub-navbar > h1 {
	color : #fff;
	font-size: 44px;
	font-weight: 900;
	margin-bottom: 5px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contenedor_sub-navbar > h2 {
	color : #eeeeee;
	font-weight: 300;
	font-size: 24px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Contenido de la pagina*/

.contenedor-page {
	width: 100%;
	min-height: 700px;
	background-image: url("../images/wallpaperpage.jpeg");
	background-size: cover;
	background-position: center;
	text-align: center;
}

/* Cuadro de contenido "Una vida de aventura" */

.contenedor-informacion {
	width: 70%;
    min-height: 550px;
    border: 2px #bebebe;
    border-style: solid;
    border-radius: 2%;
    background-color: rgba(255, 255, 255, 0.7);
    margin: auto;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.margin {
	height: 50px;
}
.contenedor-informacion > .titulo {
    padding: 20px 0px;
    font-size: 50px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contenedor-informacion > .parrafo {
	max-width: 800px;
	color: #202020;
	font-size: 20px;
	font-weight: 400;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	margin: 20px;
}
.borde {
	margin: auto;
	overflow: hidden;
	max-width: 250px;
	max-height: 260px;
	border:  2px solid #00000000;
	border-radius: 10%;
	margin: 20px;
	margin: 20px auto;
}
.borde > img {
	width: 100%;
	height: 100%;
}

/*Cuadro de contenido "Experiencia"*/

.contenedor_sub-page {
	height: 80vh;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 80%;
	max-width: 1100px;
	margin: 40px auto;
	gap: 30px;
	color: #000000;
}

.contenedor_datos-personales, .contenedor_experiencia {
	flex: 1;
	height: 100%;
}

.sub-contenedor_datos-personales, .sub-contenedor-experiencia {
	background: #ebebeb;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 4px 10px rgba(149, 149, 149, 0.5);
	height: 100%;
}

.subtitulo {
	margin-bottom: 15px;
	border-bottom: 2px solid #959595;
	padding-bottom: 10px;
	font-size: 44px;
	font-weight: 900;
}

ul {
	list-style: square;
	padding-left: 30px;
	font-size: 20px;
	font-weight: 400;
}

.parrafo {
	margin: 10px 0;
}
.imagenes-lenguajes {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	list-style: none;
}

/* Pie de página */

.pie {
	position: relative;
	background-color: #0a0b0c;
	color: #dfdfdf;
}
.footer-contenido {    
	margin: auto;
    padding: 12px;
    text-align: center;
}
.footer-contenido > p {
	display: inline;
	font-size: 12px;
	padding-right: 1em;
}
.footer-contenido > a {
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	transition: color 0.5s;
}
.footer-contenido > a:hover {
	color: #b6b6b6;
}